<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spotify with vkay</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/27a73e1ef6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <h1 id="logo"><span href="/">vkay.dev + <i class="fa-brands fa-spotify" style="color: #f3f3f3;"></i></span></h1>
        </nav>
    </header>
    <main>
        <div class="title error">
            <h1>
                <%= statusCode %>: <%= errorExplanation %>
            </h1>
        </div>
        <a id="home-button" href="/">return to the homepage</a>
    </main>
    <footer>
        <% if (stausCode === 403) { %>
            <p class="typed-delay">
                you might not be registered with vkay! if you are, just refresh.
            </p>
        <% } else { %>
            <p class="typed-delay">
                don't worry! usually, all it takes is a refresh.
            </p>
        <% }; %>
    </footer>
</body>
</html>